*{
    margin: 0px; padding: 0px; outline: 0px; box-sizing: border-box;
}
.nav1{
    width: 100%;
    min-width: 850px;
    height: 7vh;
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 10px;
    font-size: 13px;
    gap: 10px;
}
.nav1>div{
    font-weight: 900;
}
.nav1>div>p{
    font-size: 10px;
    font-weight: 100;
}
.nav1 .logo{
    width: 90px;
    height: 30px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav2{
    width: 100%;
    min-width: 850px;
    height: 5vh;
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: 12px;
    color: white;
}
.nav2-left>div{
    padding: 5px;
}
.nav2-left>div:hover {
    border: 1px solid white;
}
.nav1>div:hover {
    border: 1px solid white;
}
.bar-logo{
    padding: 3px;
}
.nav1-search{
    width: 60%;
    position: relative;
}
.nav1-input{
    width: 100%;
    height: 35px;
    padding-left: 60px;
    border-radius: 5px;
    border: 0px solid white;
}
.nav1-searchall select{
    position: absolute;
    padding: 0px 5px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    border: 0px solid white;
    background-color: rgb(225, 225, 225);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    color: #131921;
}
.nav1-searchicon{
    position: absolute;
    padding: 0px 10px;
    height: 100%;
    background-color: rgb(242, 189, 15);
    top: 0%;
    right: 0%;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
}
.flag{
    width: 18px;
    height: 12px;
}
.flag img{
    width: 100%;
    height: 100%;
}
.en-menu{
    position: absolute;
    width: 175px;
    height: 220px;
    padding-left: 10px;
    background-color: aliceblue;
    color: black;
    top: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}
.flag-nav1:hover .en-menu{
    display: flex;
}
.account-con{
    width: 400px;
    height: 350px;
    background-color: aliceblue;
    position: absolute;
    top: 100%;
    right: -120%;
    color: black;
    display: none;
}
.account-list-con:hover .account-con{
    display: block;
}
.account-con-top{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.account-con-top button{
    width: 175px;
    height: 28px;
    background-color: rgb(242, 189, 15);
    border: 0px;
    border-radius: 5px;
}
.account-con-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 10.5px;
    font-weight: 100;
}
.account-con-bottom h4{
    font-size: 15px;
}
.account-bottom-left{
    width: 40%;
    height: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.account-bottom-right{
    width: 40%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav2all-admin{
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px 4px;
    margin-right: 8px;
    background-color: white;
    color: #131921;
}
.nav2 .bar{
    position: relative;
}
.bar .nav2all{
    position: absolute;
    top: 112%;
    left: 0%;
    width: 270px;
    height: 88vh;
    background-color: rgb(225, 225, 225);
    display: none;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;
}
.nav2all-hello{
    width: 100%;
    padding: 7px 0px;
    background-color: #131921;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
}
.nav2all p, .nav2all h4{
    padding-left: 20px;
    color: black;
}
.nav2all hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.bar:hover .nav2all{
    display: flex;
}
.nav2-left{
    min-width: 500px;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
}
.nav2-right{
    min-width: 300px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #232F3E;
}
.nav2-right .android-app{
    width: 28px;
    height: 28px;
    border-radius: 5px;
    margin-right: 5px;
}
.android-app img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.main{
    width: 100%;
    min-width: 850px;
    background-color: rgb(222, 222, 222);
    padding-bottom: 20px;
}
.sec1{
    width: 98%;
    margin: auto;
    animation: demo 30s linear infinite;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    padding-top: 250px;
}
@keyframes demo{
    0%{
        background: url("amazon1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    20%{
        background: url("amazon2.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    40%{
        background: url("amazon3.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    60%{
        background: url("amazon4.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    80%{
        background: url("amazon5.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    100%{
        background: url("amazon6.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.sec1-4items{
    width: 23.5%;
    height: 370px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec1-1items{
    width: 97.6%;
    height: 220px;
    background-color: white;
    padding: 15px;
}
.sec1-4items>.top>h4{
    font-size: 17px;
}
.sec1-4items>.cen{
    width: 100%;
    height: 80%;
    margin-top: 8px;
}
.sec1-4items>.cen img{
    width: 100%;
    height: 100%;
}
.sec1-4items>.bot{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
}
.sec1-4items>.bot>p{
    font-size: 11px;
    color: #007185;
}
.sec1-1items>.top>h4{
    font-size: 17px;
}
.sec1-1items .bottom{
    height: 95%;
    overflow-x: scroll;
    display: flex;
}
.sec1-1items .bottom img{
    height: 100%;
}


.footer1{
    width: 100%;
    min-width: 850px;
    height: 8vh;
    background-color: #2b3e52;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1 a{
    color: white;
    text-decoration: none;
}
.footer2{
    width: 100%;
    height: 70vh;
    background-color: #232F3E;
    color: white;
}
.footer2-body{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 7vh 0px;
    display: flex;
    justify-content: center;
    gap: 120px;
}
.footer2body-in{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer2body-in>h4{
    font-size: 15px;
    margin-bottom: 5px;
}
.footer2body-in>p{
    font-size: 13px;
    font-weight: 100;
}
.footer2-bottom{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-bottom-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.footer2-logo{
    width: 82px;
    height: 30px;
    margin-top: 10px;
}
.footer2-logo img{
    width: 100%;
    height: 100%;
}
.footer-bottom-top input{
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}
.footer-bottom-down{
    display: flex;
    flex-direction: column;
}
.footer-bottom-down>div{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
}
.footer-bottom-down>div>p{
    font-size: 14px;
}
.footer3{
    width: 100%;
    height: 35vh;
    background-color: #131A22;
    color: white;
    font-size: 14px;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.footer3 p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
.footer3 h5{
    font-weight: 100;
}
.footer3-top{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer3-top-items{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footer3-bottom-items>div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer3-bottom-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.sec1-4items-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1-4items-img>div{
    width: 47%;
    display: flex;
    flex-direction: column;
    height: 42%;
    margin-bottom: 30px;
    justify-content: space-between;
}
.sec1-4items-img img{
    width: 100%;
}
.sec1-4items-img p{
    font-size: 12px;
}
